.main {
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 15vw;
  height: 6vw;
  background-color: #fff;
  /* opacity: 0.3; */
  transition: 0.7s all;
}
.scrollClass {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 15vw;
  height: 4vw;
  background-color: #fff;
  transition: 0.7s all;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 40px -10px;
  opacity: 0.8;
}

.container {
  max-width: 90%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  /* background: linear-gradient(to top, #481e14 50%, #0a6847 60%); */
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
  font-size: 45px;
  font-weight: bold;
}
.scrollLogo {
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.containerManu {
  width: 80%;
}

.menuLinks {
  display: flex;
  justify-content: space-evenly;
}
.link {
  font-size: 1.1vw;
  cursor: pointer;
  font-weight: bold;
  transition: 0.9s;
  color: #557a46;
  text-decoration: none;
}

.scrollLinks {
  font-size: 0.2vw;
  cursor: pointer;
  font-weight: bold;
  transition: 0.9s;
  color: #557a46;
}

.link:hover {
  color: #481e14;
  transition: 0.9s;
}

@media only screen and (max-width: 600px) {
  .main {
    height: 11vw;
  }
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    font-size: 20px;
    letter-spacing: 0.5rem;
  }
  .containerManu {
    margin: 1% 0;
  }
  .link {
    font-size: 2vw;
    font-weight: bold;
    transition: 0.9s;
    color: #557a46;
  }
}
