.mainMap {
  width: 100%;
  background-color: #eeeeee;
}
.main {
  width: 100%;
  display: flex;
}
.map {
  width: 50%;
}
.containerInfo {
  width: 50%;
  display: flex;
}

.logoContainer {
}
.logo {
}
.text {
}
.linksContainer {
}
.links {
}
.locationCards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.phoneContainer,
.emailContainer,
.addressContainer {
  height: 50%;

  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.icon {
  width: 15%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .map {
    width: 90%;
  }
  .containerInfo {
    width: 100%;
    display: flex;
    margin: 20px 0px;
  }
  .locationCards {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
  }
  .phoneContainer,
  .emailContainer,
  .addressContainer {
    padding: 20px 10px;
  }
  .info {
    font-weight: bold;
  }
}
